header.header.container
    a(href="./").logo 
        | Азалия
        span Тур
    .header__contact
        a(href="tel:+73833103062")
            img(src="./images/icon/phone.svg", alt="phone")
            | 7 (383) 310-30-62
        a(href="tel:+79139425988")
            img(src="./images/icon/phone.svg", alt="phone")
            | 7 (913) 942-59-88
        a(href="#") Заказать звонок
nav.menu
    .menu__wrap.container
        button
            span
            span
            span
        ul
            li
                a(href="#") Поиск тура
            li
                a(href="#") Экскурсии по городу
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
                .menu__submenu
                    ul
                        li
                            a(href="#") Пункт 1
                        li
                            a(href="#") Пункт 2
                        li
                            a(href="#") Пункт 3
            li
                a(href="#") Круизы
            li
                a(href="#") Автобусные туры
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
                .menu__submenu
                    ul
                        li
                            a(href="#") Пункт 1
                        li
                            a(href="#") Пункт 2
                        li
                            a(href="#") Пункт 3
            li
                a(href="#") О странах и визах
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
                .menu__submenu
                    ul
                        li
                            a(href="#") Пункт 1
                        li
                            a(href="#") Пункт 2
                        li
                            a(href="#") Пункт 3
            li
                a(href="#") Туры для школьников
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
                .menu__submenu
                    ul
                        li
                            a(href="#") Экскурсии по городу
                        li
                            a(href="#") Туры по России
                        li
                            a(href="#") Туры за границу
    .menu__links
        .menu__info.container
            .menu__info_wrap
                .menu__block
                    ul
                        li
                            a(href="#").menu__title Главная
                        li
                            a(href="#").menu__title Поиск по туру 
                        li
                            a(href="#").menu__title Круизы
                        li
                            a(href="#").menu__title Вопрос-ответ
                .menu__block
                    a(href="#").menu__title Туры для школьников
                    ul
                        li
                            a(href="#") Экскурсии по городу
                        li
                            a(href="#") Туры по России
                        li
                            a(href="#") Туры за границу
                .menu__block
                    a(href="#").menu__title Автобусные туры
                    ul
                        li
                            a(href="#") Подпункт 1
                        li
                            a(href="#") Подпункт 2
                        li
                            a(href="#") Подпункт 3
                .menu__block
                    a(href="#").menu__title О странах и визах
                    ul
                        li
                            a(href="#") Подпункт 1
                        li
                            a(href="#") Подпункт 2
                        li
                            a(href="#") Подпункт 3
            .menu__info_wrap
                .menu__block
                    a(href="#").menu__title Экскурсии по городу
                    ul
                        li
                            a(href="#") Подпункт 1
                        li
                            a(href="#") Подпункт 2
                        li
                            a(href="#") Подпункт 3
                .menu__block
                    a(href="#").menu__title Проверить штрафы
aside.mobile-menu
    .mobile-menu__catalog 
        ul.mobile-menu__catalog_menu
            li
                a(href="#") Главная
            li
                a(href="#") Поиск по туру 
            li
                a(href="#") Круизы
            li
                a(href="#") Вопрос-ответ
            li
                a(href="#") Экскурсии по городу
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
            ul.mobile-menu__catalog_submenu
                li
                    a(href="#") Подпункт 1
                li
                    a(href="#") Подпункт 2
                li
                    a(href="#") Подпункт 3
            li
                a(href="#") Туры для школьников
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
            ul.mobile-menu__catalog_submenu
                li
                    a(href="#") Экскурсии по городу
                li
                    a(href="#") Туры по России
                li
                    a(href="#") Туры за границу
            li
                a(href="#") Автобусные туры
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
            ul.mobile-menu__catalog_submenu
                li
                    a(href="#") Подпункт 1
                li
                    a(href="#") Подпункт 2
                li
                    a(href="#") Подпункт 3
            li
                a(href="#") О странах и визах
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
            ul.mobile-menu__catalog_submenu
                li
                    a(href="#") Подпункт 1
                li
                    a(href="#") Подпункт 2
                li
                    a(href="#") Подпункт 3
            li
                a(href="#") Экскурсии по городу
                img(src="./images/icon/arrow-menu.svg", alt="arrow")
            ul.mobile-menu__catalog_submenu
                li
                    a(href="#") Подпункт 1
                li
                    a(href="#") Подпункт 2
                li
                    a(href="#") Подпункт 3
            li
                a(href="#") Проверить штрафы
section.catalog.container
    .breadcrumbs
        a(href="#") Главная 
        span / 
        a(href="#") Туры для школьников 
        span / 
        a(href="#").breadcrumbs__active Экскурсии по городу
    .wrapper
        .catalog__menu
            a(href="#") Экскурсии по городу
                span 
            a(href="#") Туры по России
                span 
            a(href="#") Туры за границу
                span 
        .catalog__items
            h2 Экскурсии по городу
            .catalog__items_wrap
                .card
                    .card__img
                        img(src="./images/decor/product-1.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-2.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-1.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a 
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-1.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a 
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-2.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-1.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a 
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-1.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a 
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-2.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a
                            span 3 часа
                        a(href="#") Оставить заявку
                .card
                    .card__img
                        img(src="./images/decor/product-1.jpg", alt="product")
                    .card__text
                        h4 Посетите контактный зоопарк
                        p 600 
                            i a 
                            span 3 часа
                        a(href="#") Оставить заявку
footer.footer
    .container
        .footer__top
            .footer__contact
                h4 Связаться с нами
                .footer__tel
                    a(href="tel:+73833103062")
                        img(src="./images/icon/green-phone.svg", alt="phone")
                        | 7 (383) 310-30-62, 
                    a(href="tel:+79139425988") 7 (913) 942-59-88
                a(href="mailto:azas2011@ngs.ru")
                    img(src="./images/icon/mail.svg", alt="mail")
                    | azas2011@ngs.ru
            .footer__adress
                h4 Мы находимся
                .footer__adress_text
                    img(src="./images/icon/map.svg", alt="adress")
                    p г. Новосибирск,<br> ул. Дуси Ковальчук, 238, офис 1
            .footer__sosial
                h4 Социальные сети
                a(href="#")
                    img(src="./images/icon/instagram.svg", alt="instagram")
        .footer__bottom
            .footer__text
                .footer__copyright
                    p © 2020 WWW.azalia-tour.ru
                    a(href="#") Политика конфиденциальности
                .footer__info
                    p 
                        a(href="mailto:azas2011@ngs.ru") azas2011@ngs.ru 
                        | электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
            .footer__made
                .footer__made_links
                    a(href="https://kontur-lite.ru/") Создание сайтов
                    a(href="http://kontur-promo.ru/") Продвижение сайтов
                a(href="#")
                    img(src="./images/icon/kontur.svg", alt="kontur")