.product__image
    .product__image-big
        .product__big
            img(src="./images/decor/image-1.jpg", alt="slider")
        .product__big
            img(src="./images/decor/image-2.jpg", alt="slider")
        .product__big
            img(src="./images/decor/image-3.jpg", alt="slider")
        .product__big
            img(src="./images/decor/image-1.jpg", alt="slider")
    .product__image-small
        .product__small
            img(src="./images/decor/image-1.jpg", alt="slider")
        .product__small
            img(src="./images/decor/image-2.jpg", alt="slider")
        .product__small
            img(src="./images/decor/image-3.jpg", alt="slider")
        .product__small
            img(src="./images/decor/image-1.jpg", alt="slider")
