.wrap
    .product__wrap
        h1 Амортизатор ВАЗ-2172 двери задка, КАМАЗ облицовки радиатора (рейсталинг.кабина) MEGAPOWER
        p Артикул:  
            span 5320-5001076/21010290540206
        p Модель:  
            span КАМАЗ
        .product__block
            input(type="email", name="")
            span 100 230 руб.
            .product__btn
                .product__numbers
                    .product__minus -
                    input(type="text", value="0", tabindex="0")
                    .product__plus +
                a(href="#").product__buy Купить в 1 клик
                a(href="#").pruduct__basket В корзину